[Unit]
Description=Run network watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=network-watchdog.service

[Install]
WantedBy=timers.target
